<!DOCTYPE html>
<html>
<head>
  <title>Tumbler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<%= link_to root_path do %>
					<%= image_tag('ico.png', class: "navbar-brand") %>
				<% end %>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Utwórz post", new_post_path %></li>
				<li><a href="#">Wyloguj</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 text-right">
				<% if current_page?(root_path) %>
					<h2>Post Feed</h2>
				<% elsif current_page?(about_path) %>
					<h2>About</h2>
				<% else %>
					<%= link_to "Back to Post Feed", root_path %>
				<% end %>

				<ul class="nav nav-sidebar">
					<li><%= link_to "Zobacz posty", posts_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><a href="#">Zaloguj</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<%= bootstrap_flash %>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
